<div *ngIf="me?.role === 'client'" id="mySidepanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a routerLink="/accueil-client">Saisie véhicule pour réparation </a>
  <a routerLink="/voiture-diagnostiques">Facture des véhicules diagnostiqués </a>
  <a href="#">Véhicules en réparations </a>
</div>

<div *ngIf="me?.role === 'respatelier'" id="mySidepanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a routerLink="/accueil-atelier">Véhicules à diagnostiquer </a>
  <a routerLink="/voiture-diagnostiques-atelier">Facture des véhicules diagnostiqués </a>
  <a>Véhicules en attente </a>
  <a>Véhicules en réparation </a>
</div>

<div *ngIf="me?.role === 'respfinance'" id="mySidepanel" class="sidepanel">
   <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
   <a>Facture des véhicules diagnostiqués </a>
   <a>Statistiques</a>
 </div>

<header>
  <!-- header inner -->
  <div class="header">
     <div class="container-fluid">
        <div class="row">
           <div class="col-md-4 col-sm-4">
              <div class="logo">
                 <a href="index.html"><img src="./assets/images/logo.png" alt="#" /></a>
              </div>
           </div>

           <div *ngIf="checkbar" class="col-md-4 col-sm-4">
               <p>{{me.name}} {{me.surname}}</p>
           </div>
           
           <div *ngIf="checkbar" class="col-md-4 col-sm-4">
              <div class="right_bottun">
                 <ul class="conat_info d_none ">
                    <li><a href="#"><i class="fa fa-user" role="button" (click)="logout()" aria-hidden="true" style="background-color: #0f98f8;"></i></a></li>
                    <!-- <li><a href="#"><i class="fa fa-search" aria-hidden="true" style="background-color: #0f98f8;"></i></a></li> -->
                 </ul>
                 <button class="openbtn" onclick="openNav()"><img src="./assets/images/menu_icon.png" alt="#"/> </button>
              </div>
           </div>
        </div>
     </div>
  </div>
</header>
