<app-navbar></app-navbar>

<section class="banner_main">
  <div id="banner1" class="carousel slide banner_slide" data-ride="carousel">
     <div class="carousel-inner">
        <div class="carousel-item active">
           <div class="container-fluid">
              <div class="carousel-caption">
                 <div class="row">
                    <div class="col-md-7 col-lg-5">
                       <div class="text-bg">
                          <h1>Garage MEHA</h1>
                          <span>Mon Garage, Ton Garage, Notre Garage</span>
                       </div>
                    </div>
                    <div class="col-md-12 col-lg-7">
                       <div class="row">
                          <div class="col-md-6">
                             <div class="ban_track">
                                <figure><img src="./assets/images/track.png" alt="#"/></figure>
                             </div>
                          </div>
                          <div class="col-md-6">
                            <form class="transfot" (ngSubmit)="loginClick()">
                              <div class="col-md-12">
                                <!-- <span>Professional Services</span> -->
                                <h3>Connectez-vous!</h3>
                              </div>
                              <span>{{message}}</span>
                              <div class="col-md-12">
                                <input class="transfot_form" placeholder="Email" type="text" [(ngModel)]="login" name="login">
                              </div>
                              <div class="col-md-12">
                                <input class="transfot_form" placeholder="Mot de passe" type="password" [(ngModel)]="mdp" name="mdp">
                              </div>
                              <div class="col-md-12">
                                <button class="get_now" type="submit">Se connecter</button>
                              </div>
                            </form>
                              <br>
                              <div class="transfot">
                                 <p>Pas encore de compte? <a role="button" (click)="sinscrire()" style="cursor: pointer;">Inscrivez-vous.</a></p>
                              </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
