<app-navbar></app-navbar>

<div id="contact" class="contact">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="titlepage">
              <h2>Déposer votre véhicule pour la réparation</h2>
           </div>
           <span>{{message}}</span>
        </div>
     </div>
  </div>
  <div class="con_bg">
     <div class="container-fluid">
        <div class="row">
           <div class="col-md-5">
              <form id="request" class="main_form" (ngSubmit)="depotVoiture()">
                 <div class="row">
                    <div class="col-md-12">
                      <select name="garage" id="garage" class="contactus" [(ngModel)]="garage">
                        <option>Localisation du garage</option>
                        <option *ngFor="let g of garages" [value]="g.name+':'+g.location" class="contactus">{{g.name+' '+g.location}}</option>
                      </select>
                    </div>
                    <div class="col-md-12 ">
                       <input class="contactus" placeholder="Matricule de la voiture" type="text" [(ngModel)]="numberPlate" name="numberPlate">
                    </div>
                    <div class="col-md-12">
                       <input class="contactus" placeholder="Marque de la voiture" type="text" [(ngModel)]="carMark" name="carMark">
                    </div>
                    <div class="col-md-12">
                       <input class="contactus" placeholder="Modèle de la voiture" type="text" [(ngModel)]="carModel" name="carModel">
                    </div>
                    <div class="col-md-12">
                      <input class="contactus" placeholder="Couleur de la voiture" type="text" [(ngModel)]="color" name="color">
                   </div>
                    <div class="col-md-12">
                       <!-- <input class="contactusmess" placeholder="Message" type="type" Message="Name"> -->
                       <textarea name="description" id="description" cols="30" rows="10" class="contactusmess" [(ngModel)]="description" placeholder="Description des dégats"></textarea>
                    </div>
                    <div class="col-md-12">
                       <button class="send_btn" type="submit">Déposer</button>
                    </div>
                 </div>
              </form>
           </div>
           <div class="col-md-7">
              <div class="co_tru">
                 <figure><img src="./assets/images/car.png" alt="#"/></figure>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
